{{ define "main" }}
{{ range sort .Paginator.Pages }}
<article class="markdown book-post">
  <h3>
<strong><a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a></strong>
  </h3>
  {{ partial "docs/post-meta" . }}
  <div class="post-preview">
    {{- .Summary -}}
    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">...</a>
    {{ end }}
  </div>
</article>
{{ end }}

{{ template "_internal/pagination.html" . }}
{{ end }}

{{/*  Uncomment below to show taxonomy (categories and tags) of posts on right hand  */}}
{{/*  {{ define "toc" }}
{{ partial "docs/taxonomy" . }}
{{ end }}  */}}