// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  info: #5a8d9e,
  warning: #c49a3d,
  danger: #be5454,
) !default;

// Themes
@mixin theme-light {
  --gray-100: #f6f5f4;
  --gray-200: #eae8e6;
  --gray-300: #d6d3d0;
  --gray-500: #807a76;

  --color-link: #5a7e92;
  --color-visited-link: #7a828a;

  --body-background: white;
  --body-font-color: #2d2b2a;

  --icon-filter: none;

  --hint-color-info: #5a8d9e;
  --hint-color-warning: #c49a3d;
  --hint-color-danger: #be5454;

  --tooltip-bg: var(--body-font-color);
  --tooltip-color: var(--body-background);
  --tooltip-border: rgba(255,255,255,0.08);
  --tooltip-shadow: 0 8px 20px rgba(0,0,0,0.35);
}

@mixin theme-dark {
  --gray-100: rgba(160, 148, 140, 0.08);
  --gray-200: rgba(160, 148, 140, 0.15);
  --gray-300: rgba(160, 148, 140, 0.22);
  --gray-500: rgba(160, 148, 140, 0.4);

  --color-link: #92b4cc;
  --color-visited-link: #9ea8b0;

  --body-background: #0D0D0D;
  --body-font-color: #e4e2e0;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #5a8d9e;
  --hint-color-warning: #c49a3d;
  --hint-color-danger: #be5454;

  --tooltip-bg: var(--body-font-color);
  --tooltip-color: var(--body-background);
  --tooltip-border: rgba(0,0,0,0.12);
  --tooltip-shadow: 0 8px 24px rgba(0,0,0,0.25);
}
