body {
  font-family: 'Crimson Pro', serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

h1 { font-size: 1.6rem; font-weight: bold !important}
h2 { font-size: 1.4rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.9rem; }
