:root {
    --background-color: #ffffff;
    --text-color: #2d2b2a;
}

[data-theme="dark"] {
    --background-color: #0D0D0D;
    --text-color: #e4e2e0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}