{{/* layouts/shortcodes/tmfigure.html */}}
{{- $figureStyleParts := slice "padding-top: 0.5em;" -}}
{{- with .Get "style" -}}
    {{- $figureStyleParts = $figureStyleParts | append . -}}
{{- end -}}
{{- $figureStyleAttr := printf ` style="%s"` (delimit $figureStyleParts " ") -}}
<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}{{ $figureStyleAttr | safeHTMLAttr }}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    
    {{- with $src := .Get "src" }}
        {{- with $.Page.Resources.GetMatch $src }}
            {{- $src = .RelPermalink }}
        {{- else }}
            {{/* Fallback for external or static images */}}
        {{- end }}
        {{- $width := $.Get "width" -}}
        {{- $height := $.Get "height" -}}
        {{- $widthIsNumber := and $width (findRE "^[0-9]+$" $width) -}}
        {{- $heightIsNumber := and $height (findRE "^[0-9]+$" $height) -}}
        {{- $styleParts := slice -}}
        {{- if and $width (not $widthIsNumber) -}}
            {{- $styleParts = $styleParts | append (printf "width: %s;" $width) -}}
        {{- end -}}
        {{- if and $height (not $heightIsNumber) -}}
            {{- $styleParts = $styleParts | append (printf "height: %s;" $height) -}}
        {{- end -}}
        {{- if and $width (not $height) -}}
            {{- $styleParts = $styleParts | append "height: auto;" -}}
        {{- end -}}
        {{- $styleParts = $styleParts | append "display: block;" "margin-left: auto;" "margin-right: auto;" -}}
        {{- $styleAttr := "" -}}
        {{- if gt (len $styleParts) 0 -}}
            {{- $styleAttr = printf ` style="%s"` (delimit $styleParts " ") -}}
        {{- end -}}
        <img src="{{$src | safeURL}}"
             {{- if or ($.Get "alt") ($.Get "caption") }}
                 alt="{{ with $.Get "alt" }}{{ . }}{{ else }}{{ $.Get "caption" | markdownify | plainify }}{{ end }}"
             {{- end -}}
             {{- if $widthIsNumber }} width="{{ $width }}"{{ end -}}
             {{- if $heightIsNumber }} height="{{ $height }}"{{ end -}}
             {{- $styleAttr | safeHTMLAttr -}}
        />
    {{- end }}
    
    {{- if .Get "link" }}</a>{{ end -}}
    
    {{- if or (.Get "title") (.Get "caption") (.Get "attr") .Inner -}}
        <figcaption style="font-size: 90%; padding: 0.5em 1.5em; line-height: 1.4;">
            {{ with (.Get "title") -}}
                <h4 style="margin-bottom: 0.5em;">{{ . }}</h4>
            {{- end -}}
            
            {{ $caption := or (.Get "caption") .Inner }}
            {{ with $caption }}
                {{/* (?s) enables "dot matches newline" mode to catch multi-line P tags */}}
                {{ . | markdownify | replaceRE "(?s)^<p>(.*)</p>$" "$1" | safeHTML }}
            {{ end }}
        </figcaption>
    {{- end }}
</figure>
